.bucket {
    display: block;
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    text-align: left;
    padding: 40px;
    background: #ffffff;
    transition: all .3s ease-in-out;
    box-shadow: 0 5px 15px 0 #00000050;
}
.bucket.hidden {
    top: -100vh;
}
.cart-goods-list {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px 10px 0 0;
}
.cart-goods-list::-webkit-scrollbar {
    width: 12px;
}

.cart-goods-list::-webkit-scrollbar-track {
    border-radius: 10px;
}

.cart-goods-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid #777;
}
.selectedGood {
    width: 100px;
    margin: 20px;
    padding: 10px;
    height: auto;
    font-size: 12px;
    border:1px solid #777;
    vertical-align: top;
}
.good-in-cart {
    padding: 5px 10px;
    border: 1px solid #777;
    margin: 5px auto;
    font-size: 12px;
}

.good-delete-btn {
    float: right;
    color: rgb(177, 19, 53);
    cursor: pointer;
}

.good-count {
    margin-left: 15px;
    display: inline-block;
}

.checkout_form {
    height: 0;
    display: block;
    width: 100%;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.checkout_form input{
    display: block;
    margin-bottom: 15px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #777;
    padding: 0 10px;
    box-shadow: 0;
    width: 100%;
    box-sizing: border-box;
}

.checkout_form input:focus{
    outline: 0;
}

.checkout_form.is_open {
    height: 200px;
}

.bucket-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    cursor: pointer;
    border-radius: 20px;
    line-height: 24px;
    padding: 0 10px;
    font-size: 12px;
    color:#777;
    background: #cccccc80;
}
.cart-shadow {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000050;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.cart-shadow.hidden {
    height: 0;
}
