.cart-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    background: #ccc url('../../images/shopping-cart.svg') no-repeat center/ 50%;
    border-radius: 50%;
    cursor: pointer;
}