.counter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #777;
    width: 80px;
    margin: 0 auto;
}
.counter-button {
    cursor: pointer;
    text-align: center;
    line-height: 18px;
    height: 20px;
    width: 20px;
    display: inline-block;
    user-select: none;
}
.counter-field {
    width: 40px;
    height: 20px;
    display: inline-block;
    background: #ffffff;
    color: #444444;
    line-height: 20px;
    font-size: 12px;
}