.good {
    border: 1px solid #777;
    margin: 20px;
    padding: 10px;
    background: #ccc;
}
.good-img-container {
    overflow: hidden;
    height: 100px;
}
.good-img-container img{
    display: block;
    width: 100%;
    height: auto;
}