.good-counter {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background:orange;
    text-align: center;
    color: beige;
    font-size: 12px;
    line-height: 20px;
}